@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
}


body {
  background : url("/images/bg-pattern-top-desktop.svg") left top no-repeat, url("../public/images/bg-pattern-bottom-desktop.svg") right bottom no-repeat;
  width: 100vw;
  height: 100vh;


}